<h2>{{titulo}}</h2>
<div class="row">
    <div class="column">
        <h2 class="centrar">Lista de autos</h2>
        <hr>
        <ul>
            <li>
                lista
            </li>
        </ul>
    </div>
    <div class="column">
        <h2 class="centrar">Agregar auto</h2>
        <hr>
        <!-- agregar el formulario para llenar la lista de autos => Utilizando un boton tipo submit -->
        <form>
            <input type="text" name="Marca" required placeholder="Marca">
            <br>
            <input type="text" name="Modelo" required placeholder="Modelo">
            <br>
            <input type="text" name="Precio" required placeholder="precio">
            <br>
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>
